<div id="wrapper">
  <div id="container">
    <h1 id="quote"><%= @quote.content %></h1>
    <h2 id="author"><%= @quote.author %></h2>
  </div>
</div>

<% content_for(:javascript) do %>
  <script>
    $(document).ready(function() {
      // Call the index endpoint every 10 minutes
      setInterval(function() { $.get("/quotes.js"); }, 600000);
    });
  </script>
<% end %>
